/* Главная страница начало */
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background-color: #AB9170;
    font-family: "Amiko", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}
.header__contacts-adaptive{
    display: none;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #333333;
    height: 70px;
    z-index: 50;
}
.header__inner{
    padding-top: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    width: 164px;
    height: 37px;
}
.header__menu{
    display: flex;
    align-items: center;
}
.header__menu li{
    list-style: none;
}
.header__link{
    text-decoration: none;
    margin-right: 30px;
    color:#fefefe;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 1px 1px 0px rgba(51, 51, 51, 0.17);
    transition: 0.3s;
    padding-bottom: 3px;
}
.header__link:hover{
    color: #AB9170;
    text-shadow: 1px 1px 0px rgba(255, 0, 46, 0.25);
    border-bottom: 2px solid #5E2832 ;
}
.header__contacts{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header__phone,
.header__email{
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-bottom: -2px;
}
.phone{
    font-size: 18px;
}
.email{
    font-size: 12px;
}
.phone,
.email{
    color: #fefefe;
    text-decoration: none;
    line-height: 24px;
    text-shadow: 0px 1.5px 0px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}
.phone:hover,
.email:hover{
    color: #AB9170;
    text-shadow: 1px 1px 0px rgba(255, 0, 46, 0.25);
}    
.promo{
        
        margin:0 auto;
        max-width: 100%;
        height: 100vh;
        position: relative;
        margin-bottom: -33px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: linear-gradient(358.26deg, rgba(225, 154, 154, 0.44) 2.31%, rgba(255, 255, 255, 0) 96.02%), linear-gradient(180deg, rgba(171, 145, 112, 0.329) 0%, rgba(171, 145, 112, 0.7) 0.01%, rgba(166, 138, 102, 0.162786) 58.33%, rgba(255, 255, 255, 0) 100%), url(../img/bcg-promo.jpg) ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: padding-box;
}
.promo__title{
    margin: 0 auto;
    padding-top: 30%;
    display: flex;
    max-width: 750px;
    margin-top: 0;
    font-family: 'Play', sans-serif;
    font-weight: normal;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #333333;
    text-shadow: 3px 2px 0px rgba(254, 254, 254, 0.6);
    line-height: 1.25;
}
.promo__btn-info{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px 75px;
    font-size: 22px;
    color: #fefefe;
    border:none;
    background: rgba(232, 48, 48, 0.85);
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50px 10px 50px 10px;
    transition: 0.4s;

}
.promo__btn-info:hover{
box-sizing: border-box;
box-shadow: 4px 4px 4px rgba(254, 254, 254, 0.35);
border-radius: 10px;
}
.scroll{
    display: block;
    margin: 0 auto;
    margin-top: 250px;   
}
.production{
    background-color: #333;
    padding-bottom: 100px;
}
.product__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.production__title{
    text-align: center;
    font-size: 40px;
    color: #fefefe;
text-shadow: 2px 2px 2px rgba(254, 254, 254, 0.2);
margin-bottom: 50px;
padding-top: 85px;
}
.product__descr{
text-align: center;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 40px;
text-align: center;
letter-spacing: 0.1em;
color: #FEFEFE;
text-shadow: 1px 1px 1px rgba(254, 254, 254, 0.29);
margin-bottom: 90px;
}
.product__alvic{
    width: 365px;
    height: 365px;
    background-image: url(../img/альвик/10.jpg);
    background: linear-gradient(180deg, rgba(94, 40, 50, 0.69) 20.97%, rgba(134, 88, 97, 0.78) 63.78%, rgba(158, 112, 121, 0.262049) 87.83%, rgba(255, 255, 255, 0) 100%),  url(../img/альвик/05.jpg);
box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.15);
border-radius: 15px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.product__senosan{
    width: 365px;
    height: 365px;
    background-image: url(../img/альвик/10.jpg);
    background: linear-gradient(180deg, rgba(94, 40, 50, 0.69) 20.97%, rgba(134, 88, 97, 0.78) 63.78%, rgba(158, 112, 121, 0.262049) 87.83%, rgba(255, 255, 255, 0) 100%),  url(../img/альвик/05.jpg);
box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.15);
border-radius: 15px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.product__fenix{
    width: 365px;
    height: 365px;
    background-image: url(../img/альвик/10.jpg);
    background: linear-gradient(180deg, rgba(94, 40, 50, 0.69) 20.97%, rgba(134, 88, 97, 0.78) 63.78%, rgba(158, 112, 121, 0.262049) 87.83%, rgba(255, 255, 255, 0) 100%),  url(../img/альвик/05.jpg);
box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.15);
border-radius: 15px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.product__name{
    padding-top: 30px;
    font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 53px;
letter-spacing: 0.1em;
color: #FEFEFE;
text-align: center;
border-bottom: 2px solid #AB9170;
}
.product__text{
font-style: normal;
padding-left: 10px;
padding-right: 10px;
font-weight: 700;
font-size: 14px;
line-height: 19px;
text-align: center;
letter-spacing: 0.1em;

color: #FEFEFE;
}
.other__products-title{
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 40px;
letter-spacing: 0.1em;
color: #FEFEFE;
text-shadow: 1px 1px 1px rgba(254, 254, 254, 0.29);
text-align: center;
}
.second-product__items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.left-item{
    width: 360px;
    height: 360px;
    background-image: url(../img/альвик/10.jpg);
    background: linear-gradient(180deg, rgba(94, 40, 50, 0.69) 20.97%, rgba(134, 88, 97, 0.78) 63.78%, rgba(158, 112, 121, 0.262049) 87.83%, rgba(255, 255, 255, 0) 100%),  url(../img/альвик/05.jpg);
box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.15);
border-radius: 15px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.right-item{
    width: 360px;
    height: 360px;
    background-image: url(../img/альвик/10.jpg);
    background: linear-gradient(180deg, rgba(94, 40, 50, 0.69) 20.97%, rgba(134, 88, 97, 0.78) 63.78%, rgba(158, 112, 121, 0.262049) 87.83%, rgba(255, 255, 255, 0) 100%),  url(../img/альвик/05.jpg);
box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.15);
border-radius: 15px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.left-item__title{
    padding-top: 30px;
    font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 38px;
letter-spacing: 0.1em;
color: #FEFEFE;
text-align: center;
border-bottom: 2px solid #AB9170;
}
.right-item__title{
    padding-top: 30px;
    font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 53px;
letter-spacing: 0.1em;
color: #FEFEFE;
text-align: center;
border-bottom: 2px solid #AB9170;
}
.right-item__text{
font-style: normal;
padding-left: 10px;
padding-right: 10px;
font-weight: 600;
font-size: 14px;
line-height: 19px;
text-align: center;
letter-spacing: 0.1em;
color: #FEFEFE;
}
.left-item__text{
    font-style: normal;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FEFEFE;
    }
.special{
    text-align: center;
}
.special-title{
    margin-top: 140px;
    margin-bottom: 67px;
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 53px;
letter-spacing: 0.05em;
color: #333333;
text-shadow: 2px 2px 2px rgba(254, 254, 254, 0.25);
}


.slider{
    display: none;
}
.button{
    padding: 14px 55px;
    color: #fefefe;
    border:none;
    background: rgba(232, 48, 48, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 0.4s;
    font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.1em;
color: #FEFEFE;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button:hover{
    box-shadow: 4px 4px 4px rgba(254, 254, 254, 0.35);
border-radius: 10px;
}
.info-btn{
    padding: 14px 30px;
    background: rgba(51, 51, 51, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FEFEFE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 0.3s;
}
.info-btn:hover{
    box-shadow: 4px 4px 4px rgba(254, 254, 254, 0.35);
border-radius: 10px;
}
.cooperation{
    background-color: #AB9170;
    margin-bottom: 100px;
}
.cooperation__title{
    padding-top: 85px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    color: #333;
    margin-bottom: 125px;
}
.cooperation__text{
    width: 970px;
    font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 40px;
text-align: center;
margin: 0 auto;
color: #333;
margin-bottom: 90px;
}
.cooperation__bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 130px;
}
.cooperation__descr{
font-weight: bold;
font-size: 25px;
line-height: 40px;
text-align: right;

color: #333;
}
.contacts{
    margin-bottom: 70px;
}
.contacts__inner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact__img{
    border-radius: 10px;
}
.contact__title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 70px;
    text-align: center;
}
.contact__descr{
    font-size: 25px;
    margin-bottom: 46px;
}
.icon{
    width: 55px;
}
.contact{
    margin-bottom: 25px;
    font-size: 22px;
    
}
.contact__icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}
.contact__btn{
    text-align: center;
}
.contact__button{
    background: rgba(194, 46, 46, 0.8);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding: 19px 60px;
}

.footer{
    background-color: #333333;
    text-align: center;
}

.footer__image{
    max-width: 325px;
    height: 75px;
    margin-top: 35px;
    margin-bottom: 30px;
}
.footer__phone{
    font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 33px;

color: #AB9170;

text-shadow: 0px 1.5px 0px rgba(0, 0, 0, 0.25);
}
.footer__email{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 33px;
    color: #AB9170;
    text-shadow: 0px 1.5px 0px rgba(0, 0, 0, 0.25); 
    margin-bottom: 20px;
}
.footer__links{
font-size: 16px;
line-height: 19px;
color: #FEFEFE;
margin-left:-25px;
margin-bottom: 35px;
}
.footer__link{
    margin-bottom: 10px;
}
.footer__descr{
font-weight: 500;
font-size: 18px;
line-height: 19px;
color: #AB9170;
padding-bottom: 20px;

}
.slider-item{
    display: none;
}
.header__burger{
    display: none;
}
.nav__header-adaptive{
    display: none;
}
.slider-town{
    display: none;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 10;
  }
  .is_open {
    display: flex;
  }
  .modal-dialog {
    margin: auto;
    max-width: 780px;
    width: 95%;
    background: #222;
    border-radius: 5px;
    padding: 50px 120px;
    position: relative;
    top: 15%;   
    z-index: 9999;
     border-radius: 30px;
  }
  .modal-dialog input{
      margin-bottom: 30px;
  }
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

  } 
  .feedback-descr{
      display: block;
      padding-bottom: 20px;
      font-size: 16px;
      text-align: center;
      color: #fefefe;
  }
  .feedback-input{
      
      background-color: transparent;
      border:2px solid #AB9170;
      border-radius: 10px;
      padding-left: 40px;
      padding-right: 40px;
      color: #fefefe;
      max-width: 600px;
      width: 100%;
      height: 55px;
  }
  .feedback-message{
    max-width: 600px;
      width: 100%;
      height: 200px;
      background-color: transparent;
      border:2px solid #AB9170;
      border-radius: 10px;
      padding: 25px 40px;
      color: #fefefe;
      margin-bottom: 20px;
  }
  .modal-title {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 25px;
    color: #AB9170;
  }
  .close {
    font-size: 36px;
    border: none;
    background-color: transparent;
    transition: 0.2s;
    color: #fff;
  }
  .close:hover {
    color: #ea6060;
  }
  .modal-body {
    margin-bottom: 52px;
  }
      .feedback-btn{
        padding: 20px 55px;
    }

@media (max-width: 768px){
    .slider-town{
        display: block;
    }
    .header__contacts-adaptive{
        display: flex;
        align-items: center;
    }
    .container{
        width: 95%;
    }
    .header__logo{
        position: relative;
        z-index: 9;
    }
    .header__contacts{
        display: none;
    }
    .phone-adaptive{
        position: relative;
        z-index: 9;
        margin-right: 10px;
        margin-top: 2px;
        width: 32px;
        height: 32px;
    }
    .email-adaptive{
        position: relative;
        z-index: 9;
        margin-top: 3px;
        margin-right: 10px;
        width:35px;
        height: 35px;
    }
    .header__burger{
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        z-index: 9;
        order: 0;
        margin-right: 75px;
    }
    
    .header__burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 30px;
        height: 2px;
        top: 9px;
        transition: 0.3s;

    }

    .header__burger:after,
    .header__burger::before{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 30px;
        left: 0;
        height: 2px;
        transition: 0.3s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        display: none;
    }
    .promo{
        background-position: center top;
    }
    .promo__title{
        left: 8%;
        top: 35%;
    }
    .promo__btn-info{
        top: 55%;
        left: 35%;
    }
    .product__descr{
        max-width: 700px;
    }
    .cooperation__text{
        max-width: 700px;
    }
    .product__videos{
        display: none;
    }
    .product__videos-slider{
        display: flex;
        align-items: center;

    }
    .slider{
        width: 400px;
        margin: 0 auto;
    }
    .product__video{
        margin-left: 18px;
        margin-bottom: 30px;
    }
    .product__btn{
        text-align: center;
    }
    .contacts__inner{
        display: block;
        text-align: center;
    }
    .contact__icons{
        justify-content: space-around;
    }
    .contact__img{
        margin-bottom: 40px;
    }
    .header__nav{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333;
        padding: 100px 10px 0px 10px;
        transition: 0.3s;
    }
    .header__nav.active{
        top: 0;
    }
    .header__menu{
        display: block;
        text-align: center;
    }
    .header__menu li{
               margin-bottom: 40px;
    }
    .header__link{
        font-size: 22px;
        font-weight: 400;
 
    }
    .active{
        display: block;
    }
    
}
@media (max-width: 360px){
    .header__logo{
        width: 100px;
        height: 25px;
    }
    .header__burger{
        margin-right: 15px;
    }
    .promo__title{
        left: 0%;
        top: 36%;
        font-size: 26px;
    }
    .promo__btn-info{
        padding: 10px 30px;
        font-size: 18px;
        left: 28%;
        top: 57%;
    }
    .production__title{
        font-size: 28px;
    }
    .button{
        padding: 15px 50px;
        margin-bottom: 20px;
    }
    .info-btn{
        margin-bottom: 30px;
        padding: 15px 85px;
    }
    .slider{
        width: 300px;
    }
    .cooperation__title{
        font-size: 28px;
        margin-bottom: 80px;
    }
    .cooperation__text{
        font-size: 15px;
        max-width: 340px;
    }
    .cooperation__descr{
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 20px;
        order: 1;
    }
    .cooperation__button{
        order:2;
    }
    .cooperation__bottom{
        flex-direction: column;
    }
    .contact__img{
        max-width: 340px;
    }
    .scroll{
        left: 44%;
    }
    .product{
        margin-top: 150px;
    }
    .footer__image{
        max-width: 250px;
        height: 50px;
    }
    .contact{
        font-size: 20px;
    }
    .icon{
        width: 40px;
    }
    
}




/* SENOSAN */

.senosan{
    margin-bottom: 100px;
}
.items__title{
    margin-top: 160px;
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 53px;
letter-spacing: 0.1em;
text-align: center;
margin-bottom: 100px;
color: #000000;
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}
.item{
    position: relative;
    max-width: 365px;
    height: 520px;
    background-color: #fefefe;
    border-radius: 10px 10px 40px 40px;
}
.item__img{
    width: 365px;
    height: 233px;
    margin-bottom: 15px;
    border-radius: 10px 10px 0px 0px;
}
.text-content{
    padding-left: 40px;
    padding-right: 40px;
}
.item__title{
 text-align: center;
 font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.1em;
color: #AB9170;
margin-bottom: 15px;
text-shadow: 1px 1px 1px rgba(17, 17, 17, 0.6);
}
.item__descr{
    font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 17px;
letter-spacing: 0.1em;
display: block;
text-align: center;
color: #000000;
}
.item__text{
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
text-align: center;
letter-spacing: 0.1em;
color: #000000;
}
.item__btn{
    position: absolute;
    bottom: 0;
    max-width: 370px;
    width: 100%;
    height: 45px;
    background: #333333;
    border-radius: 2px 2px 40px 40px;
    border: none;

    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1em;
color: #AB9170;
}

.price__button{
    display: block;
    margin: 0 auto;
    padding: 20px 60px;
    font-weight: 700;
    letter-spacing: 2px;
}
.button__category{
    background: #FCFCFC;
border: 1px solid #333333;
box-sizing: border-box;
border-radius: 15px;
padding: 15px 130px 15px 30px;
}
.collection{
    margin-bottom: 110px;
}
.collection__choose{
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
.descr__choose{
margin-left: 20px;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
text-align: center;
letter-spacing: 0.1em;
color: #000000;
}
.collection__title{
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 47px;
text-align: center;
letter-spacing: 0.1em;
color: #000000;
margin-bottom: 150px;
}

.collection__item-title1,
.collection__item-title2,
.collection__item-title3{
display: none;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
margin-bottom: 50px;
text-align: center;
letter-spacing: 0.1em;
color: #000000;
}
.choosed__title{
    display: block  ;
}
.senosan__topx{
    height: 267px;
    display: flex;
    align-items: center;
}
.item__color{
margin-right: 20px;
width: 250px;
height: 250px;
border-radius: 10px;
box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.25);
}
.slick-slide{
    height: -1%;
}

.slider-4{
  width: 1150px;
  height: 270px;
}


/* .glass-senosan__white1{
    background-color: #fffffb;
}
.glass-senosan__white2{
    background-color: #fbfbfb;
}
.glass-senosan__white3{
    background-color: #fefefa;
}
.glass-senosan__beige1{
    background-color: #f4e9d7;
}
.glass-senosan__beige2{
    background-color: #d9cdb3;
}
.glass-senosan__gray1{
    background-color: #cfdcd3;
}
.glass-senosan__gray2{
    background-color: #8d8f84;
}
.glass-senosan__gray3{
    background-color: #584f46;
}  */


.senosan__white1{
    background-color: #fff;
}
.senosan__white2{
    background-color: #fbfbfb;
}
.senosan__white3{
    background-color: #fefefa;
}
.senosan__white4{
    background-color: #fffef9;
}
.senosan__beige1{
    background-color: #fcf6e9;
}
.senosan__beige2{
 background-color: #a89279;
}
.senosan__beige3{
    background-color: #beb282;
}
.senosan__gray1{
    background-color: #c7c2bc;
}
.senosan__gray2{
    background-color: #919191;
}
.senosan__gray3{
    background-color:#6c6361;
}
.senosan__gray4{
    background-color: #262626;
}
.senosan__grun{
    background-color: #97a196;
}
.senosan__blau1{
    background-color: #95a5ab;
}
.senosan__black1{
    background-color: #090003;
}
.senosan__black2{
    background-color: #060606;
}
.senosan__blau2{
    background-color: #005f8f;
}
.senosan__red{
    background-color: #8c1b1d;
}
.senosan__fiol{
    background-color: #48082a;
}
.senosan__ser1{
    background-color: #a6aaad;
}
.senosan__ser2{
   background-color: #7d7e82;
}
.senosan__blue{
    background-color: #89a7a9;
}
.slider1{
    height: 268px;
}

/* 
.topmatt-senosan__white1{
    background-color: #fdfaf3;
}
.topmatt-senosan__white2{
    background-color: #fefaf4;
}
.topmatt-senosan__beige1{
    background-color:#faf4e3;
}
.topmatt-senosan__beige2{
    background-color: #a89279;
}
.topmatt-senosan__gray1{
    background-color: #c7c2bc;
}
.topmatt-senosan__gray2{
    background-color: #6c6361;
}
.topmatt-senosan__black1{
    background-color: #000000; */

    .advantages__title{
font-family: Amiko;
font-style: normal;
font-weight: bold;
font-size: 30px;
font-weight: 900;
line-height: 40px;
text-align: center;
letter-spacing: 0.1em;
color: #333;
margin-bottom: 55px;
}
.advantages__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.advantage__item{
    width: 330px;
    height: 434px;
    background-color: #333333;
    box-shadow: 5px 3px 1px rgba(111, 68, 68, 0.25);
border-radius: 10px;
margin-bottom: 130px;
padding-top: 60px;
}
.advantages__item-image{
    background-color: #fefefe;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 23px;
}
.advantages__icon{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 17px;
    left: 22px;
}
.advantages__item-title{
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
text-align: center;
letter-spacing: 0.1em;
color: #AB9170;
text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);   
margin-bottom: 30px;
}
.advantages__item-text{
    font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 17px;
text-align: center;
letter-spacing: 0.1em;
padding-left: 55px;
padding-right: 55px;
color: #FEFEFE;
}
.works{
    margin-bottom: 150px;
}
.slide__main-img{
    width: 940px;
    height: 610px;
    border: 1px solid #666666;
    box-sizing: border-box;
    box-shadow: 2px 6px 3px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
}
.slide__main-img::before{
content: '';
width: 260px;
height: 93px;
background: rgba(0, 0, 0, 0.3);
border-radius: 0px 0px 10px 10px;
position: absolute;
bottom: 0;
left: 0;
}
.slider-123{
    width: 100%;
}
.slide-img{
    width: 350px;
    height: 200px;
    border-radius: 7px;
    margin: 0 auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.works__title{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 90px;
    color: #000000;
}

.mobile-items__title{
    display: none;
}
.mobile-items__btns{
    display: none;
}
.variables-mobile{
    display: none;
}



/* SENOSAN ADAPTIVE */

@media(max-width:768px){
    .container{
        width: 100%;
    }
    .header__inner{
        padding-left: 15px;
        padding-right: 15px;
    }
    .items{
    display: block;
    text-align: center;

    }
    .item__inner{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .items__title{
        font-size: 35px;
    }
    .variables-mobile{
        display: block;
        overflow: hidden;
    }
    .item__title{
        display: none;
    }
    .item__btn{
        display: none;
    }
    .price__button{
        display: none;
    }
  
    .mobile-items__title{
        display: block;
        padding-top: 60px;
        margin-bottom: 50px;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 53px;
        letter-spacing: 0.1em;
        color: #AB9170;
        text-shadow: 1px 1px 0px rgba(17, 17, 17, 0.6);
    }
    .item__descr{
        display: block;
        text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #000000;
    }
    .item__text{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #000000;
    text-align: left;
    margin-left: 0;
    padding-left: 10px;
    border-left:2px solid #333;
    }
    .product_present{
        padding-right: 10px;
    }
    .text-content{
        padding-right: 0;
        padding-left: 10px;
    }
    .mobile-descr__btn{
        background-color: #333333;
    }
    .button{
        border-radius: 5px;
    }
    .mobile-items__btns{
        display: block;
        margin: 0 auto;
    }
    .item__img{
        width: 353px;
        border-radius: 0px;
    }
    .item{
       max-width: 768px;
       width: 100%; 
       border-radius: 0px;
       background: linear-gradient(180deg, rgba(51, 51, 51, 0.1275) 0%, rgba(255, 255, 255, 0) 100%), #FEFEFE;
        box-shadow: 4px 8px 2px rgba(111, 68, 68, 0.25);
        border-radius: 0px;
    }


    .slider-4{
        width: 730px;
        height: 270px;
      }
    .slider-2{
        width: 768px;
        height: 270px;
    }
    .collection__choose{
        display: flex;
        flex-direction: column; 
    }
    .collection__title{
        margin-bottom: 120px;
    }
    .descr__choose{
        order:-1;
    }
    .button__category{
        order:2;
    }

    .advantages{
        background-color: #333333;
    }
    .advantages__items{
        display: block;
        
    }
    .advantages__item{
        box-shadow:0px 0px 0px rgba(111, 68, 68, 0.25)
    }
    .slide__main-img{
        width: 700px;
        height: 500px;
        margin-left: 35px;
    }
    .slider-123{
        max-width: 740px;
    }
    .slide-img{
        width: 200px;
        height: 140px;
    }
    .slider-nav{
        width: 768px;
    }
    .advantage__item{
        height: 200px;
        width: 768px;
        box-shadow: 0px 0px 0px rgba(111, 68, 68, 0.25);
        display: flex;
        padding-left: 50px;
        margin-bottom: 100px;
    }
    .advantages__item-title{
        text-align: left;
        margin-bottom: 15px;
        margin-left: 25px;
        margin-top: 13px;
    }
    .advantages__item-text{
        width: 392px;
        text-align: left;
        font-size: 13px;
        padding-right: 0;
        padding-left: 25px;
    }
    .advantages__item-image{
        margin: 0;
        border: 3px solid #AB9170;
    }
    .advantages__title{
        font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
text-align: center;
letter-spacing: 0.1em;
color: #FEFEFE;
padding-top: 72px;
    }
    .advantages{
        padding-bottom: 50px;
        margin-bottom: 70px;
    }

}

@media(max-width:360px){
    .items__title{
        font-size: 23px;
        margin-top: 100px;
        margin-bottom: 35px;
    }
    .mobile-items__title{
        font-size: 35px;
    }
    .item__inner{
        display: block;
    }
    .item{
        width: 360px;
        height: 712px;
    }
    .item__descr{
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 2px solid #333;
        margin-right: 10px;
    }
    .item__text{
        font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
text-align: center;
letter-spacing: 0.1em;
color: #000000;
border:none;
padding-left: 0;
margin-right: 10px;
margin-bottom: 30px;
    }
    .mobile-items__btns{
        display: flex;
        flex-direction: column;
    }
    .mobile-descr__btn{
        border-radius: 0;
        
        order:2;
    }
    .mobile-price__btn{
        border-radius: 0;
        margin-bottom: 5px;
        order:1;
    }
    .collection__title{
        font-size: 23px;
        margin-bottom: 70px;
    }
    .descr__choose{
        font-size: 15px;
    }
    .advantages__title{
        font-size: 23px;
    }
    .advantage__item{
        display: block;
        width: 360px;
        padding-left: 0;
    }
    .advantages__item-image{
        margin: 0 auto;
    }
    .advantages__item-title{
        text-align: center;
        margin-left: 0;
    }
    .advantages__item-text{
        margin: 0 auto;
        padding-right: 20px;
        text-align: center;
        width: 350px;
    }
    .advantages{
        padding-bottom: 50px;
    }
    .works__title{
        font-size: 23px;
        margin-bottom: 50px;
    }
    .slide__main-img{
        width: 350px;
        height: 250px;
        margin-left: 5px;
    }
    .slider-nav{
        width: 350px;
        height: 70px;
    }
    .slide-img{
        width: 75px;
        height: 60px;
    }
    .slider-2{
        width: 650px;
    }
}

/* ADAPTIVE 360!!! */


/* ALVIC */

.mobile-item__img-title{
    width: 120px;
    height: 50px;
    margin-bottom: 20px;
}
/* special */

.special{
    text-align: center;
    margin-bottom: 140px;
}
.special-title{
    margin-top: 140px;
    margin-bottom: 67px;
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 53px;
letter-spacing: 0.05em;
color: #333333;
text-shadow: 2px 2px 2px rgba(254, 254, 254, 0.25);
}
.special-descr{
    font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
letter-spacing: 0.1em;
color: #333333;
text-shadow: 2px 2px 2px rgba(254, 254, 254, 0.25);
}
.special-text{
    font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;

/* identical to box height */
letter-spacing: 0.1em;

color: #333333;


}
.special__cooperation{
    text-align: center;
}
.special__cooperation-title{
    font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;

/* identical to box height */
letter-spacing: 0.1em;

color: #333333;

text-shadow: 2px 2px 2px rgba(254, 254, 254, 0.25);
margin-bottom: 110px;
}
.special__cooperation-text{
    font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 29px;
text-align: center;
letter-spacing: 0.1em;

color: #333333;
width: 825px;
margin: 0 auto;
margin-bottom: 110px;
text-shadow: 2px 2px 2px rgba(254, 254, 254, 0.25);
}
.special__button{
    margin-bottom: 200px;
}
.special-coop{
    background-color: #333333;
    margin-bottom: 0;
}
.special-coop__title{
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 53px;
color: #AB9170;
}
.special-coop__text{
    font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
text-align: center;
color: #AB9170;
}
.special-coop__descr{
    font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
text-align: right;

color: #AB9170;
}
.accordion{
    padding:20px;
   background-color: #333333;
   color:#fefefe; 
   border:1px solid #222;
   cursor:pointer;
   width: 100%;
   text-align: left;
   outline: none;
   transition: 0.4s;
   font-weight: 700;
   text-shadow: 2px 2px 2px rgba(254, 254, 254, 0.25);
   border-radius: 5px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   margin-top: 3px;
}
.accordion.active,
.accordion:hover{
    background-color: #222;
}
.panel{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    background-color: #333;
    display: none;
}
.panel.show{
    display: block;
}
.hettich__title{
    padding-top: 150px;
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 53px;
letter-spacing: 0.1em;
text-align: center;
color: #333333;
text-shadow: 2px 2px 2px rgba(254, 254, 254, 0.25);
margin-bottom: 90px;
}
.hettich__text{
    font-style: normal;
    width: 495px;
font-weight: bold;
font-size: 26px;
line-height: 35px;
text-align: center;
margin: 0 auto;
color: #333333;
text-shadow: 2px 2px 2px rgba(254, 254, 254, 0.25);
margin-bottom: 100px;
}
.hettich__descr{
    display: block;
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
text-align: right;
margin-right: 350px;
color: #333333;
text-shadow: 1px 1px 1px rgba(254, 254, 254, 0.25);
margin-bottom: 105px;
}
.catalog__items{
    margin: 0 auto;
    margin-bottom: 200px;
    
}
.catalog__title{
    font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
letter-spacing: 0.1em;
color: #333333;
text-shadow: 2px 2px 2px rgba(254, 254, 254, 0.25);
text-align: center;
margin-bottom: 120px;
}
.accordion__img{
    width: 200px;
    height: 130px;
    border-radius: 5px;
    margin-left: 3px;
}
.promo__loft{
    background: linear-gradient(180deg, rgba(164, 17, 17, 0.51) 0%, rgba(61, 30, 30, 0.369687) 33.85%, rgba(130, 21, 21, 0.37375) 52.08%, rgba(46, 20, 20, 0.155149) 80.11%, rgba(255, 255, 255, 0) 100%), url(../img/loftimg.jpg);
box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.25);
width: 100vw;
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-bottom: 90px;
}
.promo__loft-title{
    padding-top: 200px;
    margin: 0 auto;
    text-align: center;
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 53px;
letter-spacing: 0.1em;
color: #FEFEFE;
text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.25);
}
.promo__loft-text{
    font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 40px;

/* identical to box height */
text-align: center;
letter-spacing: 0.1em;

color: #FEFEFE;
margin-bottom: 160px;
text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.25);
}
.promo__loft-descr{
width: 695px;
display: block;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 40px;
margin: 0 auto;
text-align: right;
letter-spacing: 0.1em;
color: #FEFEFE;
text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.25);
}
.inter{
    background-color: #333333;
}
.inter__title{
    text-align: center;
    padding-top: 120px;
    margin-bottom: 150px;
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 53px;

color: #FEFEFE;

text-shadow: 2px 2px 2px rgba(254, 254, 254, 0.25);
}
.loft__production{
    margin-bottom: 250px;
}
.loft__production-title{
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 53px;
text-align: center;
color: #333333;
margin: 0 auto;
margin-bottom: 80px;
text-shadow: 2px 2px 2px rgba(254, 254, 254, 0.25);
}
.loft__production-img{
    width: 597px;
height: 364px;
background: url(b8e15aa9b3ea1ab8849c4b64e717717c.jpg);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.loft__production-img1{
    width: 523px;
height: 511px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.loft__production-row1,
.loft__production-row2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.loft__production-block{
    width: 439px;
height: 303px;
background-color: #333333;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding-left: 38px;
padding-right: 38px;
padding-top: 35px;
}
.loft__production-block1{
    width: 518px;
height: 400px;
background: #333333;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding-left: 70px;
padding-right: 70px;
padding-top: 50px;
}
.loft__production-block-title{
    font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;
text-align: center;
margin-bottom: 35px;
color: #FEFEFE;
text-shadow: 1px 1px 1px rgba(254, 254, 254, 0.25);
}
.loft__production-block-text{
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
margin-bottom: 25px;
color: #FEFEFE;
text-shadow: 1px 1px 1px rgba(254, 254, 254, 0.25);
}
.inter__promo-img{
    width: 903px;
    height: 677px;
    background: linear-gradient(180deg, #643C3C 0%, rgba(90, 43, 43, 0.494792) 50.52%, rgba(105, 58, 58, 0) 100%), url(../img/2slide.jpg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.inter__promo{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}
.inter__promo-vars{
    width: 561px;
height: 420px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}
.inter__promo-var{
    margin: 0 auto;
    text-align: center;
}

/* loft adaptive */

@media(max-width:768px){
    .loft__production-row1{
        display: block;
    }

    .loft__production-img{
        width: 768px;
        height: 500px;
        display: block;
        margin: 0 auto;
        text-align: center;
        border-radius:  10px 10px 0px 0px;
    }
    .loft-block{
        border-radius: 0px;
        width: 768px;

        text-align: center;
        margin: 0 auto;
    }

    .loft__production-row2{
        flex-wrap: wrap;
    }
    .loft__production-img1{
        width: 768px;
        height: 600px;
        order:-1;
        border-radius:0px;
    }
    .loft__production-block1{
        width: 768px;
        border-radius: 0px 0px 10px 10px;
    }
    .inter__promo-img{
        width: 720px;
    }
}
.color-var{

}
@media(max-width:768px){
.slider-table{
    display: none;
}
}
@media(max-width:360px){
    .header__link{
        font-size: 18px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .promo__loft{
        margin-bottom: 60px;
    }
    .loft__production-title{
        margin-bottom: 40px;
    }
    .loft__production{
        margin-bottom: 40px;
    }
    .promo__loft-title{
        font-size: 25px;
        padding-top: 140px;
        margin-bottom: 0px;
    }
    .promo__loft-text{
        margin-top: 0;
        font-size: 15px;
        line-height: 30px;
    }
    .promo__loft-descr {
        font-size: 14px;
        width: 320px;
        line-height: 25px;
}
.loft__production-title{
    font-size: 25px;
    line-height: 40px;
}
.loft__production-img{
    width: 360px;
    height: 300px;
}
.loft-block{
    width: 360px;
}
.loft__production-block-text{
    font-size: 12px;
}
.loft__production-img1{
    width: 360px;
    height: 350px;
}
.inter{
    padding-bottom: 100px;
}
.inter__title{
    font-size: 25px;
    line-height: 40px;
}
.inter__promo-img{
    width: 320px;
    height: 200px;
}
.inter__promo-vars{
    width: 320px;
    height: 200px;
    margin-bottom: 10px;
}
.inter__promo{
    margin-bottom: 10px;
}
.header{
    height: 45px;
}
.header__inner{
    padding-top: 2px;
}
.header__menu li{
    margin-bottom: 25px;
}
.header__menu{
    text-align: end;
}

.header__burger::after, .header__burger::before{
    width: 20px;
}
.header__burger span{
    width: 20px;
}
.header__burger{
    width: 10px;
}
.hettich__title{
    padding-top: 80px;
    font-size: 30px;
}
.hettich__text{
    width: 320px;
    font-size: 20px;
    line-height: 30px;
}
.hettich__descr{
    text-align: center;
    margin-right: 0;
}
.accordion__img{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.special-title{
    margin-top: 90px;
    margin-bottom: 50px;
    font-size: 25px;
}
.special-descr{
    font-size: 25px;
}
.special-text{
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 40px;
}
.inst-link{
    display: block;
    margin: 0 auto;
}
.special__cooperation-title{
    line-height: 35px;
    font-size: 25px;
    margin-bottom: 50px;
}
.special__cooperation-text{
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    width: 320px;
    margin-bottom: 50px;
}
.special-coop__title{
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 50px;
}
.special-coop__text{
    font-size: 16px;
    text-align: left;
    line-height: 35px;
}
.special-coop__descr{
    font-size: 20px;
    text-align: right;
    line-height: 30px;
    margin-bottom: 40px;
}
.special__button{
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}
.inter__title{
    padding-top: 70px;
    margin-bottom: 65px;
}
.promo__title{
    padding-top: 212px;
}
.promo__btn-info{
    margin-top: 30px;
}
.scroll{
    margin-top: 80px;
}
.product__descr{
    margin-bottom: 50px;
    font-size: 25px;
}
.product__alvic{
    border-radius: 0px;
    width: 360px;
    height: 360px;
    margin-bottom: 20px;
}
.product__senosan{
    border-radius: 0px;
    width: 360px;
    height: 360px;
    margin-bottom: 20px;
}
.product__fenix{
    border-radius: 0px;
    width: 360px;
    height: 360px;
}
.left-item{
    border-radius: 0px;
}
.right-item{
    border-radius: 0px;
}
.production{
    padding-bottom: 0;
}
.modal-dialog{
    padding: 10px 15px;
}
.modal-title{
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 10px;
}
.feedback-message{
    display: none;
}
.feedback-btn{
    display: block;
    margin: 0 auto;
}
.modal-header{
    margin-bottom: 0;
}
.feedback-descr{
    font-size: 14px;
    text-align: center;
    padding-bottom: 5px;
}
.modal-dialog input{
    margin-bottom: 5px;
}
.feedback-input{
    height: 50px;
}
.modal-dialog{
    max-height: 428px;
}
.item__color{
    width: 150px;
    height: 150px;
}
